<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-colapse" id="navbar">
            <div class="navbar-nav mx-auto">
                <a class="nav-item nav-link" href="#">About Us</a>
                <a class="nav-item nav-link" href="#">Support</a>
                <a class="nav-item nav-link" href="#">Blog</a>
                <a class="nav-item nav-link" href="#">Press</a>
                <a class="nav-item nav-link" href="#">API</a>
                <a class="nav-item nav-link" href="#">Jobs</a>
                <a class="nav-item nav-link" href="#">Privacy</a>
                <a class="nav-item nav-link" href="#">Terms</a>
                <a class="nav-item nav-link" href="#">Directory</a>
                <a class="nav-item nav-link" href="#">Language</a>
            </div>
        </div>
    </nav>
</footer>